<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>工具内页</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/footer.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/tools.css" />
		<link rel="stylesheet" href="css/Font-Awesome-master/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/dist/css/wangEditor.min.css" />
z
		<script type="text/javascript" src="js/js/wangEditor.min.js" ></script>
		<script type="text/javascript" src="js/easyform.js" ></script>
	</head>
	<body>
		<div class="header_top">
			<div class="top_container">
				<div class="top_left">
					<a href="javascript:;">PHPChina主页</a>
					<a class="orange" href="javascript:;">手机微社区</a>
					<a href="javascript:;">设为首页</a>
					<a href="javascript:;">收藏本站</a>
					<a class="green" href="javascript:;">广告服务</a>
				</div>
				<div class="top_right" style="display: none;">
					<span class="login"><a href="javascript:;">登录</a></span>|
					<span class="register"><a href="javascript:;">注册</a></span>
				</div>
				<div class="login_wrap">
					<ul>
						
						<li class="ugc">
							<div class="tx"></div>
							<div class="icon">
								<i class="fa fa-sitemap sitemap"></i>
							</div>
							<div class="user_index">
								<dl class="ugc_ul">
									<dt class="ugc_index">
										<a class="ugc_a" href="javascript:;"><i class="fa fa-legal legal"></i>我的招聘</a>
									</dt>
									<dt class="ugc_index">
										<a class="ugc_a" href="javascript:;"><i class="fa fa-book book"></i>我的图书</a>
									</dt>
									<dt class="ugc_index">
										<a class="ugc_a" href="javascript:;"><i class="fa fa-random random"></i>我的问答</a>
									</dt>
									<dt class="ugc_index">
										<a class="ugc_a" href="javascript:;"><i class="fa fa-comments-o comment"></i>我的圈子</a>
									</dt>
									<dt class="ugc_index">
										<a class="ugc_a" href="javascript:;"><i class=" fa fa-wrench wrench"></i>我的工具</a>
									</dt>
								</dl>
							</div>
						</li>
						
						<li class="profile">
							<div class="tx"></div>
							<div class="icon">
								<i class="fa fa-cogs cogs"></i>
							</div>
							<div class="user_index">
								<dl class="profile_ul">
									<dt class="profile_index">
										<a class="profile_a" href="javascript:;"><i class="fa fa-legal legal"></i>我的招聘</a>
									</dt>
									<dt class="profile_index">
										<a class="profile_a" href="javascript:;"><i class="fa fa-book book"></i>我的图书</a>
									</dt>
									<dt class="profile_index">
										<a class="profile_a" href="javascript:;"><i class="fa fa-random random"></i>我的问答</a>
									</dt>
									<dt class="profile_index">
										<a class="profile_a" href="javascript:;"><i class="fa fa-comments-o comment"></i>我的圈子</a>
									</dt>
									<dt class="profile_index">
										<a class="profile_a" href="javascript:;"><i class=" fa fa-wrench wrench"></i>我的工具</a>
									</dt>
								</dl>
							</div>
						</li>
						
						<li class="bell_alt">
							<div class="tx"></div>
							<div class="icon">
								<i class=" fa fa-bell-o bell"></i>
							</div>
							<div class="user_index">
								<p class="bell_text">
									<a href="javascript:;">查看所有提醒</a>
									<a href="javascript:;">查看所有站内信</a>
								</p>
								<dl class="bell_dl">
									<dt>
										<i class="fa fa-bell bell_alt"></i>
										<span class="item_title"><a href="javascript:;"> MySQL学习由浅入深   </a><span class="item_time">02-26</span></span>
									</dt>
									<dt>
										<i class="fa fa-bell bell_alt"></i>
										<span class="item_title"><a href="javascript:;"> MySQL学习由浅入深   </a><span class="item_time">02-26</span></span>
									</dt>
									<dt>
										<i class="fa fa-bell bell_alt"></i>
										<span class="item_title"><a href="javascript:;"> MySQL学习由浅入深   </a><span class="item_time">02-26</span></span>
									</dt>
									<dt>
										<i class="fa fa-bell bell_alt"></i>
										<span class="item_title"><a href="javascript:;"> MySQL学习由浅入深   </a><span class="item_time">02-26</span></span>
									</dt>
									<dt>
										<i class="fa fa-bell bell_alt"></i>
										<span class="item_title"><a href="javascript:;"> MySQL学习由浅入深   </a><span class="item_time">02-26</span></span>
									</dt>
								</dl>
							</div>
						</li>
						
						<li class="notify">
							<div class="tx"></div>
							<div class="icon">
								<i class="fa fa-user-secret home"></i>
							</div>
							<div class="user_index">
								<div class="bd">
									<div class="user_img"><img src="image/default_user_portrait.gif"></div>
									<div class="bd_text">
										<p><a class="user_name" href="javascript:;">_28976605</a></p>
										<p class="pd">
											<span class="pd_admin">用户组：<span class="admin">管理员</span></span>
											<span class="pd_level">管理员等级：<i class="level3"></i><i class="level2"></i><i class="level1"></i></span>
										</p>
									</div>
									<p class="bd_last">
										<span><i class="fa fa-cog cog"></i><a class="center" href="javascript:;">个人中心</a></span>
										<i class="fa fa-sign-out signout"></i>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	    <div class="nav-container">
	    	<div class="nav-main">
	        	<div class="nav-main-left"><a href="javascript:;"><img src="image/logo.png"></a></div>
	            <div class="nav-main-right">
	            	<a class="special" href="#">社区</a>
	                <a  href="javascript:;">学院</a>
	                <a  href="javascript:;">招聘</a>
	                <a  href="javascript:;">工具</a>
	                <a  href="javascript:;">图书</a>
	                <a  href="javascript:;">圈子</a>
	                <a  href="javascript:;">众包</a>
	                <a  href="javascript:;">问答</a>
	            </div>
	        </div>
	    </div>
	    
	    <!--main-->
	    <div class="tools">
	    	<div class="tools_container">
            	<!--left-->
	    		<div class="tools_content upload_tool">
                    <div class="box_02">
                    	<div id="accordion" class="accordion">
                                <div class="upload_link">ISUX译 iOS9人机界面指南.pdf</div>
                                <form class="submenu" id="reg-form" action="" method="post">
                                    <div class="submenu_text">
                                    	<span>资料名称：</span>
                                        <span class="search_box01"><input autocomplete="off" class="search" name="" placeholder="请输入资料名称(3-30汉字)" type="text" id="uid" easyform="length:4-16;char-normal;real-time;" message="资料名称不能为空" easytip="disappear:lost-focus;theme:blue;"></span>
                                    </div>
                                    <div class="submenu_text">
                                    	<span>工具截图：</span>
                                        <div class="uploader green">
                                        <input type="text" class="filename" readonly/>
                                        <input type="button" name="file" class="button" value="上传截图"/>
                                        <input type="file" size="30"/>
                                        </div>
                                    </div>
                                    <div class="submenu_text">
                                    	<span>关键词（Tag)：</span>
                                        <span class="search_box01"><input autocomplete="off" class="search" name="" placeholder="请用逗号或空格分隔标签，标签可填1-5个" type="text" id="uid" easyform="length:4-16;char-normal;real-time;" message="标签不能为空,标签可填1-5个" easytip="disappear:lost-focus;theme:blue;"></span>
                                    </div>
                                    <div class="submenu_text">
                                    	<span>工具分类：</span>
                                        <span class="search_box01">
                                        <select name="" class="search w240">
                                            <option value="">请选择资料类型</option>
                                            <option value="">系统运维</option>
                                            <option value="">数据库</option>
                                            <option value="">开发技术</option>
                                            <option value="">web开发</option>
                                            <option value="">移动开发</option>
                                        </select>
                                        <select name="" class="search w240 ml30">
                                            <option value="">请选择</option>
                                        </select>
                                        </span>
                                    </div>  
                                    <div class="submenu_text">
                                    	<span>下载威望：</span>
                                        <span class="search_box01">
                                        <select name="" class="search w240">
                                            <option value="">请选择下载威望</option>
                                            <option value="">10</option>
                                            <option value="">20</option>
                                            <option value="">30</option>
                                            <option value="">40</option>
                                            <option value="">50</option>
                                        </select>
                                        
                                        </span>
                                    </div>
                                    <div class="submenu_text">
                                    	<span>工具描述：</span>
                                        <span class="search_box01"><textarea class="search" rows="0" cols="0" placeholder="介绍一下您的资料吧，这能让它得到更多人的青睐:)" style="height:200px; max-height:200px; max-width:510px"></textarea></span>
                                    </div>
                                </form>
        				</div>
                        <div class="validation">
                        	<span class="fl">验证码：</span>
							<span class="search_box01 w210 fl">
								<input type="text" class="search" style="padding-right:0; margin-top:0; width:190px;">
							</span>
							<span class="fl">
								 <img width="78" height="20" alt="" src="">
							</span>	
							<span class="fl">
								<a href="javascript:void(0);">看不清？换一张</a>
							</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="agree">
                        	<input type="checkbox" checked="">&nbsp;&nbsp;同意&nbsp;&nbsp;<a href="#">PHPChina&nbsp;资料上传协议 </a>
                        </div>
                        <div class="clearfix"></div>
                        <button title="确认提交">确认提交</button>
                    </div>
		    	</div>
		    	<!--right-->
		    	<div class="tool_right">
		    		<div class="right_author" style="background:url(image/tools/dedicate_announcement.png) center no-repeat;">
		    			<h1 style="font-weight:bold; font-size:18px; color:#666; margin-bottom:20px">上传资料须知</h1>
                        <p>
                        1.存储空间：不限<br />
                        2.存储时间：永久<br />
                        3.每次最多同时上传10份资料<br />
                        4.每份资料最大50M<br />
                        5.资料超出50M建议分卷 （如何分卷?）<br />
                        6.分卷资料建议合为一个资料上传<br />
                        7.禁止上传任何政治敏感、色情、 广告以及侵犯他人版权的资料<br />
                        8.上传资料表示您完全接受PHPChina <br />
                        下载中心的&nbsp;&nbsp;<a href="#" style="text-decoration: underline;color: #77d4c6;">上传协议</a>
                        </p>
		    		</div>
	    			<div class="right-side-focus">
						<ul>
							<li><a href="javascript:;"><img src="image/tools/ad.jpg"></a></li>
							<li><a href="javascript:;"><img src="image/tools/ad1.jpg"></a></li>
						</ul>	
					</div>
		    	</div>
	    	</div>
	    </div>
	
	</body>
	<script type="text/javascript">
	    
	    $(function(){
	    	$(".search").focus(function(){
				$(this).css("box-shadow","rgba(102,175,233,0.5) 0px 0px 6px");
			});
			$(".search").blur(function(){
				$(this).css("box-shadow","1px 1px 8px rgba(210,206,206,0.35) inset,1px 1px 4px rgba(255,255,255,0.4)");
			});
			
			//关注和收藏
			 	$(".concern").click(function(){
			 		var name = $(".concern").text();
			 		str=name.substring(0,5);
			 		var k = name.substring(6,7);
			 		if(str ==="关注发布者"){
			 		k ++;
			 		$(".concern").html('<i class="fa fa-check"></i>已关注（'+k+'）');
			 		}else{
			 			var name = $(".concern").text();
			 			str=name.substring(0,3);
			 			var k = name.substring(4,5);
			 			k--;
			 			$(".concern").html('<i class="fa fa-edit"></i>关注发布者（'+k+'）')
			 		}
			 	})

			 	$(".ollection").click(function(){
			 		var name_o = $(".ollection").text();
			 		str=name_o.substring(0,4);
			 		var k = name_o.substring(5,6);
			 		if(str ==="收藏工具"){
			 		k ++;
			 		$(".ollection").html('<i class="fa fa-heart"></i>已收藏（'+k+'）');
			 		}else{
			 			var name_o = $(".ollection").text();
			 			str=name_o.substring(0,3);
			 			var k = name_o.substring(4,5);
			 			k--;
			 			$(".ollection").html('<i class="fa fa-heart-o"></i>收藏工具（'+k+'）')
			 		}
			 	})
				$("#delete_01").on('click',function(){
						$("#upload_content_01").hide();
				})
				$("#delete_02").on('click',function(){
						$("#upload_content_02").hide();
				})
				$("#delete_03").on('click',function(){
						$("#upload_content_03").hide();
				})
				$("#delete_04").on('click',function(){
						$("#upload_content_04").hide();
				})
	    })
		$(function(){
			$("input[type=file]").change(function(){$(this).parents(".uploader").find(".filename").val($(this).val());});
			$("input[type=file]").each(function(){
			if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("No file selected...");}
			});
		});
		$(document).ready(function(){
			$('#reg-form').easyform();
		});
		//$(function() {
//			var Accordion = function(el, multiple) {
//				this.el = el || {};
//				this.multiple = multiple || false;
//		
//				// Variables privadas
//				var links = this.el.find('.upload_link');
//				// Evento
//				links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
//			}
//		
//			Accordion.prototype.dropdown = function(e) {
//				var $el = e.data.el;
//					$this = $(this),
//					$next = $this.next();
//		
//				$next.slideToggle();
//				$this.parent().toggleClass('open');
//		
//				if (!e.data.multiple) {
//					$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
//				};
//			}	
//		
//			var accordion = new Accordion($('#accordion'), false);
//		});				
	</script>
	
</html>
